{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div class="exampleBox">
    <div class="exampleBox_Package">
        {{ render_chart(chart) }}
    </div>
    <div class="exampleBox_Textbox">
        <h1>GRAPH CHART</h1>
    </div>
</div>

<div class="exampleBox">
    <div class="exampleBox_Package">
        {{ render_chart(chart2) }}
    </div>
    <div class="exampleBox_Textbox">
        <h1>CAMEMBERT CHART</h1>
    </div>
</div>
{% endblock %}
