{% extends 'base.html.twig' %}

{% block title %}Hello DropzoneController!{% endblock %}

{% block body %}
    <div class="">
        <div class="titleBox">
            <h1> React Credit Cards</h1>
        </div>

        <div data-controller="react"></div>
    </div>
{% endblock %}
