$color: lightgray;

#block {
  display: flex;
  height: 110vh;

  .Container {
    display: flex;
    height: 100%;

    &-Left {
      background-color: $color;
      flex: 0.2;
    }

    &-Right {
      flex: 1;
    }
  }
}

.bodyBlock {
  .title {
    text-align: center;
  }

  &_Tools {
    padding: 5%;
    display: flex;

    div {
      display: flex;
      align-items: center;
      padding: 20px;
    }
  }
}

.exampleBox {
  display: flex;
  margin-bottom: 5%;

  &_Package {
    flex: 40%;
  }

  &_Textbox {
    flex: 60%;
    display: flex;
    align-items: center;
  }
}

.titleBox {
  display: flex;
  justify-content: center;
}

.formBox{
  text-align: center;
  margin-top: 30px;
}




