<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('symfony/ux-swup/swup') }}>
    <div id="block" class="Container">
        <div class="Container-Left" data-controller="leftBlock">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">ChartJS</a>
                </li>
                <li>
                    <a href="/dropzone">React JS Component</a>
                </li>
            </ul>
        </div>

            <div id="swup" class="Container-Right">
                {% block body %}
                {% endblock %}
            </div>
    </div>
    </body>
</html>
