{% extends 'base.html.twig' %}


{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Symfony UX</title>
</head>
<body>
    <h1>Welcome to Symfony UX</h1>
</body>
</html>

{% endblock %}